<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/productos">Productos</a></li>
        <li><a href="/precios">Precios</a></li>
        <li><a href="/promocion">Promocion</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
