.contenedor{
    background-color: #ffffff;
    border: solid #000;
   display: flex;
   justify-content: space-between;
   width: 70%;
   
   
   

    
}
.item {
    width: 100px;
    height: 100px;
    background-color: rgb(43, 226, 150);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
 
}
.clase2 {
background-color: red;
}
.clase3 {
    background-color: blue;
}
.clase4 {
    background-color: green;
}