/*font-family: 'Changa One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif;*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: #e57d90;
    padding: 16px 0;
}

header h1 {
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    margin-left: 10px;
}     
nav {
    background-color: #f1889b;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    flex-grow: 1;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}
nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
footer{
    background-color: #fdb4bf;
  clear: both;
  color: #333;
  text-align: center;
  padding: 5px 0;
  margin-top: 20px;
}
nav ul li a.activo{
    background-color: #f99aaa;
}
.holder{
    max-width: 960px;
    margin:0 auto;
   
}
/*inicio home*/
h2{
    color: #e57d90;
    font-weight: 400;
}
.bienvenidos{
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
    padding-left: 10px;
}
.testimonios{
    width: 25%;
}
.columnas{
    display: flex;
    justify-content: space-between;
}
.header{
    display: flex;
    align-items: center;
}
.bienvenidos p {
font-size: 20px;
line-height: 30px;
}
.testimonio{
    background-color: #fdb4bf;
    padding: 16px;
}
.testimonio .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    display: block;
    line-height: 30px;
}
.testimonio .autor{
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 12px 0;
}
.imagen{
    margin: 0 auto;
    display: block;
    width: 800px;
}

/*final home*/ 
/*inicio nosotros*/
.historia p{
    font-size: 15px;
}
.personas{
    display: flex;
    justify-content: space-between;
  
}
.persona{
    border: 1px solid #fdb4bf;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
}
.persona img{
    max-width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin-bottom: 25px;
}
.persona .diferente{
margin-bottom: 30px;
margin-top: 20px;
}

.persona h6{
    margin: 0;
    font-weight: normal;
    color: #e57d90;
}
.persona h5{
    margin: 0;
    font-weight: normal;
    color: black;
    font-size: 25px;
    margin-top: 5px;
    line-height: 25px;
    background-color: #f99aaa;

}
.persona h6{
    font-size: 20px;
    font-style: italic;
}
.persona p{
    color: #000;
    font-size: 15px;
}

/*final nosotros*/ 
/*inicio servicios*/ 
.sugerencias{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    margin: 16px o;
    display: flex;
    gap: 32px;
    align-items: center;
}
.sugerencias .info h4{
    color: #e57d90;
    font-weight: 500;
    font-style: italic;
    border-bottom: 1px solid #e57d90 ;
    padding-bottom: 10px;
    font-size: 25px;
}
.sugerencias .info p{
    font-size: 15px;
    line-height: 19px;
}
.sugerencias img{
    border-radius: 13px;
    display: block;
    max-width: 225px;
}
.sugerencias:nth-child(even){
    flex-direction: row-reverse;
}
/*final servicios*/ 
/*inicio galeria*/
.Tips{
    display: flex;
    justify-content: space-between;
    
}
.tip{
    border: 1px solid #fdb4bf;
    border-radius: 5px;
    height: 350px;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
    margin: 10px;
    background: #fdb4bf;

}
.tip img{
    height: 75px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.tip img:hover{
transform: scale(1.15);

}
.tip h6{
    margin: 0;
    font-weight: normal;
    color: #000000;
}
.tip h5{
    margin: 0;
    font-weight: normal;
    color: black;
    font-size: 20px;
    margin-top: 5px;
    line-height: 25px;

}
.tip h6{
    font-size: 15px;
    background: #ffffff;
    font-family:'Times New Roman', Times, serif;
    border-radius: 5%;
    padding: 5px;
    height: 150px;
    display: flex;
justify-content: center;
align-items: center;
   
    
}
.tip p{
    color: #000;
    font-size: 5px;
}

/*final galeria*/
/*inicio contacto*/

.contacto{
    display: flex;
    gap: 24px;
}
.contacto div{
    width: 100%;
}
.datos p{
    font-size: 14px;
}
.datos ul li img{
   width: 100px;
   margin: 50px;
}
.formulario p{
    display: flex;
}
.formulario p label{
    min-width: 80px;
    align-items: center;
}
.formulario p:nth-child(4){
    align-items: start;
}
.formulario textarea{
    resize: none;
    height: 150px;
}
.formulario input[type="submit"]{
background: #6da9ed;
box-shadow: 0 0 10px rgba(0,0,0,0.4);
color: white;
font-size: 16px;
padding: 6px 20px;
width: auto;
position: relative;
left: 5 rem;
cursor: pointer;
}
.formulario input[type="submit"]:hover{
    background-color: #2e64a1;
}
/*final contacto*/