@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size:100%;
	margin: 0;
}


nav {
	background: #CC3910;
	float: left;
	width: 160px;
}
ul {
	list-style-type:none;
}
a {
	color:#F1F2C0;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	float: left;
	width: 400px;
}
aside {
	background: #CCC59E;
	width: 190px;
	float: right;
}
@media (max-width:800px){
	nav{
		background: #E6DE6A;
		width: 100%;
	}
	section{
		width: 100%;
		margin: 0%;
		border-top: 1px #000 solid;
	}
	aside{
		width: 100%;
		border-top: 1px #000 solid;
		
	}
li{
	margin-top: 10px;
	margin-bottom: 10px;
}
	a {
		color: #000;
	}
	#contenedor {
		width: 100%;
		background: #8FA68E;
		margin-right:auto;
		margin-left:auto;
		overflow: hidden;
}
}